#wrapper {
    justify-content: center;
    height: 100vh;
    background-color: white;
    top: 0;
}


#btnClose {
    position: relative;
    background: transparent;
    border: 0;
    width: 50%;
    align-self: flex-end;

}
